# Python / Django
venv/
__pycache__/
*.pyc
db.sqlite3

# Secrets
.env

# Node.js
node_modules/
build/
.npm
npm-debug.log

# IDE / OS specific
.idea/
.vscode/
*.DS_Store

# More
CoursessionAI.code-workspace
Roadmap.txt